In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'Desktop/air travel dataset.xlsx')

In [4]:
data.columns

Index(['Geometry Coordinates 0 0', 'Geometry Coordinates 0 1',
       'Geometry Coordinates 1 0', 'Geometry Coordinates 1 1', 'Geometry Type',
       ' Cessation', ' Inception', ' Actual Timestamp', ' Airline',
       ' Base Airline', ' Base Flight Number', 'Date', ' Estimated Timestamp',
       ' Event', ' Flight Number', ' Gate', 'Departure', 'Destination'],
      dtype='object')

In [5]:
data.columns = ['Departure Longitude', 'Departure Latitude',
       'Destination Longitude', 'Destination Latitude', 'Geometry Type',
       ' Cessation', ' Inception', ' Actual Timestamp', ' Airline',
       ' Base Airline', ' Base Flight Number', 'Date', ' Estimated Timestamp',
       ' Event', ' Flight Number', ' Gate', 'Departure', 'Destination']

In [6]:
data.insert(4,'Distance','')

,Departure Longitude,Departure Latitude,Destination Longitude,Destination Latitude,Distance,Geometry Type,Cessation,Inception,Actual Timestamp,Airline,Base Airline,Base Flight Number,Date,Estimated Timestamp,Event,Flight Number,Gate,Departure,Destination
0,-122.370943,37.61799,-118.353322,34.196704,,MultiPoint,2020-03-02 00:00:00,uuuu,1583174520,AC,UA,5628.0,2020-03-02,1583174520,D,AC4173,F5,SFO,BUR
1,-122.370943,37.61799,-118.353322,34.196704,,MultiPoint,2020-03-02 00:00:00,uuuu,1583201580,AC,UA,5233.0,2020-03-02,1583201580,D,AC4396,F15K,SFO,BUR
2,-122.370943,37.61799,-118.353322,34.196704,,MultiPoint,2020-03-02 00:00:00,uuuu,1583195520,AC,UA,5318.0,2020-03-02,1583195520,D,AC5514,F15K,SFO,BUR
3,-122.370943,37.61799,-118.353322,34.196704,,MultiPoint,2020-03-02 00:00:00,uuuu,1583163840,AC,UA,5920.0,2020-03-02,1583163840,D,AC4094,F15L,SFO,BUR
4,-122.370943,37.61799,-118.353322,34.196704,,MultiPoint,2020-03-02 00:00:00,uuuu,1583187540,AC,UA,5717.0,2020-03-02,1583187540,D,AC4388,F15L,SFO,BUR

In [8]:
hlong = np.radians(data['Departure Longitude']-data['Destination Longitude'])
hlat = np.radians(data['Departure Latitude']-data['Destination Latitude'])

In [9]:
r = 6371

In [10]:
H = (np.sin(hlong/2) * np.sin(hlong/2)) + ( np.sin(hlat/2) * np.sin(hlat/2) * np.cos(np.radians(data['Departure Latitude'])) * np.cos(np.radians(data['Destination Latitude'])))

In [12]:
c=[]

In [20]:
for i in range(H.shape[0]):
    if H.iloc[i] < 1:
        c.append(2 * np.arctan2(np.sqrt( H.iloc[i]), np.sqrt(1- H.iloc[i])))
    else:
        c.append(2 * np.arcsin(np.min(1, np.sqrt( H.iloc[i]))))

TypeError: 'numpy.float64' object cannot be interpreted as an integer

In [14]:
C = pd.Series(c)

In [16]:
C = C * r

In [17]:
data['Distance'] = C

In [19]:
data.to_csv(r'Desktop/air travel dataset.csv')